@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.gallery-grid {
	display: grid;
	gap: 1.5rem;
	font-family: 'Roboto', sans-serif;
	padding-block: 2rem;
	margin-inline: auto;
	width: min(95%, 70rem);
}

.photo {
	position: relative;
}

.photo > img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	filter: brightness(60%);
	border-radius: 0.5rem;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.text-container {
	display: flex;
	flex-direction: column;
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
}

.overlay {
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
	opacity: 0;
	transition: 0.5s ease;
}

.photo:nth-child(2):hover .text-container {
	display: none;
}
.photo:nth-child(2):hover .overlay {
	opacity: 1;
}

.explore-button {
	padding: 7px 20px;
	font-weight: 600;
	border: white solid 1px;
	color: white;
	border-radius: 0.5rem;
	background-color: transparent;
	margin-top: 70px;
}

.explore-button:hover {
	cursor: pointer;
}

/* Responsive Layout */

/* @media (min-width: 1024px) and (max-width: 1280px) {
	.gallery-grid {
		grid-template-columns: repeat(4, 1fr);
	}
	.grid-col-span-4 {
		grid-column: span 4;
	}
	.grid-col-span-2 {
		grid-column: span 2;
	}
} */

@media screen and (min-width: 375px) {
	.title-big {
		font-size: 1rem;
	}
	.text-container .title-small {
		font-size: 0.5rem;
	}
	.overlay {
		font-size: 0.4rem;
	}
	.explore-button {
		font-size: 0.4rem;
	}
	.text-container p {
		font-size: 8px;
	}
}

@media screen and (min-width: 768px) {
	.gallery-grid {
		grid-template-columns: repeat(4, 1fr);
	}
	.grid-col-span-4 {
		grid-column: span 4;
	}
	.grid-col-span-2 {
		grid-column: span 2;
	}
}

@media (min-width: 1024px) and (max-width: 1280px) {
	.title-big {
		font-size: 2.2em;
		font-weight: 800px;
	}
	.title-small {
		font-size: 1em;
		letter-spacing: 1.2px;
		font-weight: 300px;
	}

	.text-container p {
		font-size: 1.2em;
	}
}
